asgiref==3.8.1
async-timeout==4.0.3
beautifulsoup4==4.12.3
cachetools==5.3.3
certifi==2024.6.2
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
Django==4.2.13
django-bootstrap-v5==1.0.11
django-cors-headers==4.4.0
django-crispy-forms==2.1
django-redis==5.4.0
djangorestframework==3.15.1
google-api-core==2.19.1
google-auth==2.31.0
google-cloud-speech==2.26.0
googleapis-common-protos==1.63.2
grpcio==1.64.1
grpcio-status==1.62.2
idna==3.7
numpy==2.0.0
packaging==24.1
pandas==2.2.2
plotly==5.22.0
proto-plus==1.24.0
protobuf==4.25.3
psycopg2-binary==2.9.9
pyasn1==0.6.0
pyasn1_modules==0.4.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
redis==5.0.4
requests==2.32.3
rsa==4.9
six==1.16.0
soupsieve==2.5
sqlparse==0.5.0
tenacity==8.4.2
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
whitenoise==6.6.0
