/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

.chatbot {
	/* border: 1px solid red; */
	height: 100%;
	border-radius: 10px 0 0 10px;
	background-color: #F0F0F4;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	width: 100%;
	box-shadow: 0 0 128px 0 rgba(0,0,0,0.1),0 32px 64px -48px rgba(0,0,0,0.5);
}


.chatbot .chatbox {
	background-color: #F0F0F4;
	height: 470px;
	overflow-y: auto;
	padding: 30px 20px 70px;
}

.chatbox .chat {
	display: flex;
}

.chatbox .incoming span {
	background: grey;
	color: white;
	padding: 0 5px;
	align-self: flex-end;
	border-radius: 4px;
	cursor: default;
	line-height: 32px;
	margin: 0 10px 7px 0;
	text-align: center;
}


.chatbox .chat p {
	background: #44b0eb;
	border-radius: 10px 10px 0 10px;
	color: white;
  	white-space: pre-wrap;
	font-size: 0.95rem;
	max-width: 75%;
	padding: 12px 16px;
	white-space: pre-wrap;
}

.chatbox .chat p.error {
  background: #f8d7da;
  color: #721c24;
}

.chatbox .incoming p {
	background-color: #c3c9c1;
	border-radius: 10px 10px 10px 0;
	color: black;

}

.chatbox .outgoing p {
	background-color: #66b2b2;
	border-radius: 10px 10px 10px 0;
	color: black;
}

.chatbot .chat-input {
	display: flex;
	gap: 5px;
	width: 100%;
	background: #fff;
	padding: 3px 20px;
	border-top: 1px solid #ddd;
	border-radius: 0 0 0 10px;
}

.chat-input textarea {
	border: none;
	font-size: 0.95rem;
	height: 55px;
	width: 100%;
	max-height: 180px;
	outline: none;
	padding: 15px 15px 15px 0;
	resize: none;
}

.chat-input span {
	color: #44b0eb;
	font-size: 1.35rem;
	height: 55px;
	cursor: pointer;
	align-self: flex-end;
	display: flex;
	align-items: center;
	visibility: hidden;
}

.chat-input textarea:valid ~ span {
	visibility: visible;
}

/* span with class="material-symbols-outlined" */
.material-symbols-outlined {
	font-size: 1.35rem;
	color: #44b0eb;
}

@media(max-width: 490px) {
	.chatbot {
		width: 100%;
		height: 100%;
		bottom: 0;
		right: 0;
	}
}

.chatbot-info {
	/* border: 5px solid red; */
	height: 100%;
	background-color: #F0F0F0;
}

.chatbot-info-item {
	border: 3px solid #d5d5db;
	border-radius: 0 0 10px 10px;
}

#pills-tab {
	background-color: #F0F0F0;
	border-radius: 10px 10px 0 0;

	button {
		color: #66b2b2;
	}
}

