.mock-interviewr {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#interviewr {
    width: 70%;
}


/* mic */
div#mic {
    /* text-align: right; */
    /* border: 2px solid #1a2e4b; */
}

#recording {
    visibility: hidden;
    text-align: center;
    vertical-align: middle;
    font-size: 20px;
    color: black;
}

#mic-icon {
    /* width: 36px;
    padding: 0px;
    font-size: 30px;
    color: #1a2e4b; */
}

#mic-icon.active {
    color: #ff0000;
}

#mic-icon:hover {
    cursor: pointer;
    color: teal;
}

#recording {
    text-align: center;
    /* visibility: hidden; */

    span {
        color: red;
    }
}

.mic-area {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100px;
  }

.mic {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    background-color: #27e5f3;
    color: #fff;
    font-size: 33px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.25s;
}
      
.mic::before {
    content: "";
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background-color: inherit;
    z-index: -1;
}
      
.listening {
    background-color: #0da9d9;
    z-index: 0;
}

.listening::before {
    animation: listening 1.3s infinite;
}
      
@keyframes listening {
    from {
        opacity: 0.25;
    }
    to {
        transform: scale(2);
        opacity: 0.1;
    }
}

/* playback */
.playback {
    /* margin-left: 30px; */
}

/* question */
#question {
    padding: 10px;
}

#play_question {
    background-color: #d1f2f2;
    border-radius: 10px;
    hover: pointer;

    span {
        padding: 0px;
        font-size: 15px;
        color: red;
    }

    span:hover {
        cursor: pointer;
    }
}

#play_question:hover {
    cursor: pointer;
}


/* User answer */

#user-answer {
    background-color: #d1f2f2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-color: #626fd1;
}

/* AI response */
#interview_question_header {
    text-align: center;
    visibitlity: visible;
}

.hide_this > h3,
.hide_this > div.row,
.hide_this > img {
    display: none;
}

.ai-response {
    background-color: #d1f2f2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}