.mock-interviewr {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#interviewr {
    width: 70%;
}


/* mic icon */
#mic-icon {
    font-size: 50px;
}

#mic-icon.active {
    color: #ff0000;
}

#mic-icon:hover {
    cursor: pointer;
}

/* playback */
.playback {
    /* margin-left: 30px; */
}

/* question */
#play_question {
    background-color: #d1f2f2;
    border-radius: 10px;
    hover: pointer;

    span {
        padding: 0px;
        font-size: 15px;
        color: red;
    }

    span:hover {
        cursor: pointer;
    }
}

#play_question:hover {
    cursor: pointer;
}


/* User answer */

#user-answer {
    background-color: #d1f2f2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-color: #626fd1;
}

/* AI response */
.ai-response {
    background-color: #d1f2f2;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}