/* logo */
.logo {
    width: 240px;
    height: 60px;
    margin: 0;
    padding: 0;
}

/* home page */
div #home-button {
    margin: 0;
    display: flex;
    justify-content: center;
}

/* image in anchor tag */
a .home-button {
    width: 400px;
    padding: 10px;
}

/* anchor with class btn btn-primary btn-lg */
a.btn.btn-primary.btn-lg {
    width: 200px;
    height: 50px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar */
.navbar {
    background-color: #66b6d2;
}


.navbar-brand {
    margin-left: 20px;
    font-size: 1.5em;
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding-right: 25px;
}

.nav-link {
    color: white;
    font-weight: bold;
}

/* Container */
.main {
    background-color: #E3F2FD;
}

.container {
    /* border: 2px solid #66b6d2; */
    justify-content: center;
}


.row {
    /* border: 2px solid #66b6d2; */
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

.col {
    /* border: 2px solid #66b6d2; */
    margin: 10px;
    padding: 10px;
    justify-content: center;
}

/* Header */
.header img {
    margin-right: 10px;
    float: left;
    width: 36px;
    height: 36px;
}

.header h1 {
    position: relative;
    top: 8px;
    left: 10px;
}


/* Div */
.col-6 {
    margin: 10px;
    padding: 10px;
}

.col-5 {
    margin: 10px;
    padding: 10px;
}

.div-plans {
    margin-top: 50px;
}

/* Radio Button */
label.radio-inline {
    margin-right: 10px;
}

/* Table */
.th {
    text-wrap: nowrap;
}

.td {
    text-wrap: nowrap;
}

/* Form */
.employee-form {
    margin: 25px 0 0 0;
    padding: 0;
}

.employee-form li {
    list-style-type: none;
    float: left;
    margin: 0 5px 0 0;
    width: 100px;
    height: 40px;
    position: relative;
}

.employee-form li:hover {
    color: white;
}

.employee-form label,
.employee-form input {
    display: block;
    position: absolute;
    background-color: #66b6d2;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
}

.employee-form input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.employee-form input[type="radio"]:checked+label,
.Checked+label {
    background: #fca503;
}

.employee-form input[type="checkbox"] {
    opacity: 0.01;
    z-index: 100;
}

.employee-form input[type="checkbox"]:checked+label,
.Checked+label {
    background: #fca503;
}

.employee-form label {
    text-align: center;
    font-size: 1.2em;
    padding: 5px;
    z-index: 90;
}

/*-------------------*/

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
}

.form-label {
    font-weight: bold;
    font-size: medium;
}

.form-check input[type="radio"] {
    opacity: 0.01;
    z-index: 100;
}

.form-check input[type="radio"]:checked+label,

.Checked+label {
    background: teal;
}

.form-check input[type="checkbox"] {
    opacity: 0.01;
    z-index: 100;
}

.form-check input[type="checkbox"]:checked+label,

.Checked+label {
    background: teal;
}

.form-check label {
    padding: 0px 1em 0px 8px;
    padding: 5px;
    border: 1px solid #CCC;
    border-radius: 3px;
    cursor: pointer;
    z-index: 90;
}

.form-check label:hover {
    background: #DDD;
}

/* Collapse */

.collapseContainingDiv td {
    padding: 0 !important;
}

tr.hide-table-padding td {
    padding: 0;
}
  
.expand-button {
    position: relative;
}

/* Button */
.btn-primary {
    width: auto;
    padding: 2px;
    border: none;
    border-radius: 10px;
    background-color: #66b6d2;
    color: white;
}

.btn-secondary {
    width: auto;
    padding: 5px;
    margin-right: 5px;
    border: none;
    border-radius: 10px;
    background-color: #66b6d2;
    color: white;
}

/* Loader */
.loader {
    display: none;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}