/* video */
.video-input {
    width: 80%;
    height: 300px;
}

#user-video {
    height: 300px;
}

input[type="file"] {
    /* background-color: #f1f1f1; */
    border: 1px solid #ccc;
    width: 70%;
}

#video-analyze {
    background-color: #4ecdc4;
    color: white;
    width: 100px;
    border: 0px solid #ccc;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

#video-analyze:hover {
    background-color: #3da0a9;
    color: white;
}

/* video form */
.form-inline {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Loading message */
.loading {
    background-color: azure;
    border: 0px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #c44155;
    text-align: center;
}

/* Analysis-score */
.analysis-score {
    display: flex;
    justify-content: center;
    width: 100%;
    color: #3d82db;
}


/* analysis chart */
.analysis-chart {
    width: 100%;
}

#radar-chart-div {
    display: flex;
    justify-content: center;
    width: 80%;
}

/* voice input */
.mic-toggle {
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}

/* Plots */
#graph_area {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
}

#graph_auditory, #graph_visual {
    display: flex;
    justify-content: center;
}
