{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {

    });
</script>
{% endblock %}

{% block title %}<title>首頁</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            <div class="row">
            <span>公立就業服務機構可以申請政府補助，您申請了沒？</span>
            </div>
            <div class="row">
            <p>勞動部為了協助勞工和雇主，推出了多樣化的就業促進工具及雇主資源，每一項計畫都針對不同的需求和條件提供支持，但如何找到最適合您的工具與補助可能令人困惑。
    為了解決這個問題，北分署推出「民眾及雇主資源推薦包系統」，快速為您推薦適合的就業促進工具或雇主資源，請立即嘗試吧！</p>
            </div>
        </div>
        <div class="col" id="home-button">
            {% load static %}
            {# draw me two anchors with images inside #}
            <a href="/chatbot"><img class="home-button" src="static/images/labor.png" alt="image here" /></a>
        </div>
    </div>
    <div class="row">
        <a href="/home" class="btn btn-primary btn-lg">立即分析</a>
    </div>
</div>
{% endblock %}