{% extends "base.html" %}

{% block title %}<title>Analysis</title>{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col'>
            <div class="row">
                <video class="video-input" controls autoplay>
                    <source src="/static/videos/example-1.mp4" type="video/mp4">
                    Your browser does not support the video tag.
                </video>
            </div>
            <div class="row">
                <form method="post" action="." class="form-inline" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                
                    <button type="submit">Analyze</button>
                </form>
                {% if form.errors %}
                <ul class="errors">
                    {% for field, error_list in form.errors.items %}
                    <li for="{{ field }}">{{ error_list.as_text }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
            <div class="row">            
            <textarea class="form-control" id="video-analysis-response" rows="10" readonly>
            {{ response }}
            </textarea>
            </div>
        </div>
        <div class='col'>
            <div class='row'>
                <h2>Analysis - chart</h2>
                <div class="col">
                    <img class="analysis-chart" src="/static/images/bar-chart-example.png" alt="analysis-chart">
                </div>
                <div class="col">
                    <img class="analysis-chart" src="/static/images/pie-chart-example.svg" alt="analysis-chart">
                </div>
            </div>
            <div class='row'>
                <h2>Analysis - feedback</h2>
                <div class="col">
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi quibusdam reiciendis, similique necessitatibus adipisci iste, eligendi quis omnis ea veritatis voluptate laborum autem vel et! Qui at dicta iure.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi quibusdam reiciendis, similique necessitatibus adipisci iste, eligendi quis omnis ea veritatis voluptate laborum autem vel et! Qui at dicta iure.</li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}