{% extends "base.html" %}

{% block title %}<title>Applicants</title>{% endblock %}

{% block content %}

<div class="container">
    <div>
        <h1>勞工列表</h1>
        <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>姓名</th>
                <th>性別</th>
                <th>年齡</th>
                <th>學歷</th>
                <th>就業狀態</th>
                <th>身份別</th>
                <th>待業區間</th>
            </tr>
        </thead>
        <tbody>
        {% for employee in applicants_employee %}
            <tr>
                <td>{{ employee.id }}</td>
                <td>{{ employee.name }}</td>
                <td>{{ employee.gender }}</td>
                <td>{{ employee.age }}</td>
                <td>{{ employee.education }}</td>
                <td>
                {{ employee.current_status1 }}, {{ employee.current_status2 }}, {{ employee.current_status3 }}, {{ employee.current_status4 }}
                </td>
                <td>
                {{ employee.identity1 }}, {{ employee.identity2 }}, {{ employee.identity3 }}, {{ employee.identity4 }}, {{ employee.identity5 }}, {{ employee.identity6 }},
                {{ employee.identity7 }}, {{ employee.identity8 }}
                </td>
                <td>{{ employee.unemployment_duration }}</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}