<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="csrf-token" content="{{ csrf_token }}" />
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/home.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/chatbot.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/video.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/demo.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/interview.css' %}?{% now "U" %}">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
	<script src="{% static 'jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'js/interview-question.js' %}"></script>
	<script src="{% static 'js/azure-openai.js' %}"></script>
	<script src="{% static 'js/main.js' %}"></script>
	<!-- Google Fonts Link For Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block javascript %}
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
	<nav class="navbar">
		<ul class="nav">
			<li class="nav-item">
				<a href="/" class="nav-link">
					<span style="font-size: x-large;">JOB x AI</span>
				</a>
			</li>
		</ul>
		<nav class="navbar">
			<ul class="nav">
				<li class="nav-item">
					<a href="/interview/analysis" class="nav-link">Analysis</a>
				</li>
				<li class="nav-item">
					<a href="/interview" class="nav-link">Interview</a>
				</li>
				<li class="nav-item">
					<a href="/home2" class="nav-link">HOME2</a>
				</li>
				{% comment %}
				<li class="nav-item">
					<a href="#" class="btn btn-outline-light">Log in</a>
				</li>
				 <li class="nav-item">
					<a href="/plan" class="nav-link">就促工具列表</a>
				</li>
				<li class="nav-item">
					<a href="/employee/applicants" class="nav-link">登錄列表</a>
				</li> {% endcomment %}
				{% comment %} <li class="nav-item">
					<a href="/about" class="nav-link">關於</a>
				</li> {% endcomment %}
			</ul>
		</nav>
	</nav>
	<div class="sidebar">
		<a href="/">
			<i class="fas fa-home">
			</i>
		</a>
		<a href="/chatbot">
			<i class="fas fa-search">
			</i>
		</a>
		
		<a href="/chatbot">
			<i class="fas fa-comment">
			</i>
		</a>
		{% comment %}
		<a href="#">
			<i class="fas fa-heart">
			</i>
		</a>
		{% endcomment %}
		<a href="#">
			<i class="fas fa-user-circle">
			</i>
		</a>
	</div>
  	<main class="main">
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>