<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/mycss.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/chatbot.css' %}?{% now "U" %}">
	<link rel="stylesheet" href="{% static 'css/video.css' %}?{% now "U" %}">
    <script src="{% static 'jquery-3.7.1.min.js' %}"></script>
	<script src="{% static 'main.js' %}"></script>
	<script src="{% static 'key.js' %}"></script>
	<script src="{% static 'azure-openai.js' %}"></script>
	<script src="{% static 'azure-wda.js' %}"></script>
	<!-- Google Fonts Link For Icons -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    {% block javascript %}
    {% endblock %}
    {% block title %}
    {% endblock %}
</head>
<body>
	<nav class="navbar">
		<ul class="nav">
			<li class="nav-item">
				<a href="/" class="nav-link">
					<img src="{% static 'images/web-logo.png' %}" alt="logo" class="logo">
				</a>
			</li>
			<li class="nav-item">
				<a href="/employer" class="nav-link">雇主登錄</a>
			</li>
			<li class="nav-item">
				<a href="/analysis" class="nav-link">影片分析(尚未推出)</a>
			</li>
		</ul>
		<nav class="navbar">
			<ul class="nav">
				<li class="nav-item">
					<a href="/plan" class="nav-link">就促工具列表</a>
				</li>
				<li class="nav-item">
					<a href="/employee/applicants" class="nav-link">登錄列表</a>
				</li>
			</ul>
		</nav>
	</nav>
  	<main class="main">
		{% block content %}
		{% endblock %}
	</main>
</body>
</html>