{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {
        // if span with class "note" exists, user-query-button text is "重新查詢"
        if ($(".note").length) {
            $("#user-query-button").text("重新查詢");
        }  else {
            $("#user-query-button").text("查詢");
        }
        
        $('#query-type_0').click(function(){
            // if ($(this).is(':checked')) alert('is checked'); 
            // show employee-select and hide employer-select
            $('#employee-select').attr('hidden', false);
            $('#employer-select').attr('hidden', true);
        });

        $('#query-type_1').click(function(){
            // if ($(this).is(':checked')) alert('is checked'); 
            // show employer-select and hide employee-select
            $('#employer-select').attr('hidden', false);
            $('#employee-select').attr('hidden', true);
        });

    });
</script>
{% endblock %}

{% block title %}<title>就促工具</title>{% endblock %}

{% block content %}
<div style="display: none;">
    {{ all_plan_employee_details_list.1.benefit }}
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="m-3">
                <form method="post" id="user-form">
                    {% csrf_token %}
                    <div>
                        <h4>登錄資料</h4>
                        {{ user_qurey_form.type }}
                        <div id="employee-select" hidden>{{ user_qurey_form.employee }}</div>
                        <div id="employer-select" hidden>{{ user_qurey_form.employer }}</div>
                        <button action="/benefit" id="user-query-button" type="submit">查詢</button>
                    </div>
                </form>
            </div>
            <div class="m-3">
                <div>
                {% if employee %}
                    <table class="table">
                    <thead>
                        <tr>
                            <th>代碼</th>
                            <th>就業狀態</th>
                            <th>性別</th>
                            <th>年齡</th>
                            <th>待業區間 (天)</th>
                            <th>身份別</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-value">{{ employee.name }}</td>
                            <td class="row-value">
                                {% for current in employee_current_list %}
                                    {{ current }}
                                {% endfor %}
                            </td>
                            <td class="row-value">{{ employee.gender }}</td>
                            <td class="row-value">{{ employee.age }}</td>
                            <td class="row-value">{{ employee.unemployment_duration }}</td>
                            <td class="row-value">
                                {% for identity in employee_identity_list %}
                                    {{ identity }}
                                {% endfor %}
                            </td>
                        </tr>
                    </tbody>
                    </table>
                {% endif %}
                </div>
                <div>
                {% if employer %}
                    <table class="table">
                    <thead>
                        <tr>
                            <th>單位名稱</th>
                            <th>單位類別</th>
                            <th>就業保險投保單位</th>
                            <th>補助</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="row-value">{{ employer.name }}</td>
                            <td class="row-value">{{ employer.organization }}</td>
                            <td>{{ employer.employment_insurance }}</td>
                            <td>{{ employer.subsidy_requirement }}</td>
                        </tr>
                    </tbody>
                    </table>
                {% endif %}
                </div>
                <div class="div-plans">
                    {% if employee %}
                    <h4>
                        共有 <strong style="color: red;">{{ plan_employee_list1|length }}</strong> 個就促工具可能適用。
                    </h4>
                    <span class="note">*實際可申請的計畫及其條件可能因地區和個人狀況而異</span>
                    <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="th">計畫別</th>
                            <th class="th">目的</th>
                            <th class="th">計畫窗口</th>
                            <th class="th">申請資格</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for plan in plan_employee_list1 %}
                        <tr>
                            <td class="td"><strong>{{ plan.plan_type }}</strong></td>
                        {% for object in all_plan_employee_details_list %}
                            {% if plan.plan_name == object.plan_name %}
                            <td class="td">{{ object.purpose }}</td>
                            <td class="td">{{ object.contact }}</td>
                            {% endif %}
                        {% endfor %}
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" class="btn btn-outline-primary collapsed" data-bs-toggle="collapse" data-bs-target="#{{ plan.plan_name }}" aria-expanded="false" aria-controls="collapseProduct0">
                                        展開
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr class="collapseContainingDiv">
                            <td colspan="6">
                                <div class="collapse" id="{{ plan.plan_name }}" style="">
                                    {% for object in all_plan_employee_details_list %}
                                    {% if plan.plan_name == object.plan_name %}
                                    <div class="card card-body">
                                        {% comment %} {% load highlight %} {% endcomment %}
                                        {{ object.apply }}
                                    </div>
                                    {% endif %}
                                    {% endfor %}
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
        {% comment %}
        <div class="col-5">
            <div class="header">
                <img id="robot" src="/static/images/consultant-robot.png" alt="robot-logo"/>
                <h3 id="helper-header">智能小幫手</h3>
            </div>
            <div class="loader"></div>
            <textarea id="openai-text" style="width: 100%; height: 200px; border:none; border-radius: 10px" readonly></textarea>
            <div>
                <button type="button" class="btn btn-secondary" id="Public Employment Service Institution">
                公立就業服務機構</button>
                <button type="button" class="btn btn-secondary" >婦女再就業計畫</button>
                <button type="button" class="btn btn-secondary">非自願離職</button>
            </div>
            <div class="d-flex" style="margin-top: 10px">
                <div class="input-group w-auto">
                    <input type="text" id="openai-input" class="form-control" placeholder="問小幫手任何問題~">
                    <button data-mdb-button-init data-mdb-ripple-init id="openai-button" class="btn btn-primary" type="button" id="button-addon1" data-mdb-ripple-color="dark">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        {% endcomment %}
    </div>
</div>
{% endblock %}