{% extends "base.html" %}

{% block javascript %}
<script>
</script>
{% endblock %}

{% block title %}<title>Chatbot</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 left">
            <div class="chatbot2">
            {% comment %}
                <header>
                    <h2>Chatbot</h2>
                </header>      
            {% endcomment %}          
                <ul class="chatbox">
                    <li class="chat incoming">
                    </li>
                </ul>
                <div class="chat-input">
                    <textarea placeholder="請輸入訊息..." required></textarea>
                    <span id="send-btn" class="material-symbols-outlined" >send</span>
                </div>
            </div>
        </div>
        <div class="col-md-6 right">
            <div class="row">
                <div class="col-md-4">
                    <div class="chatbot2-info-item">
                        <img src="https://via.placeholder.com/150" alt="employer" class="img-fluid">
                        <h3>Training course 1</h3>
                        <a href="#" class="btn btn-primary">More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="chatbot2-info-item">
                        <img src="https://via.placeholder.com/150" alt="employer" class="img-fluid">
                        <h3>Training course 1</h3>
                        <a href="#" class="btn btn-primary">More</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="chatbot2-info-item">
                        <img src="https://via.placeholder.com/150" alt="employer" class="img-fluid">
                        <h3>Training course 1</h3>
                        <a href="#" class="btn btn-primary">More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}