{% extends "base.html" %}

{% block javascript %}
<script>
$(document).ready(function() {
    // User information
    var user_age_range = "";
    var user_identity = "";
    var user_current_status = "";

    // Create three buttons above chat incoming
    var buttons = [
        {
            text: "找課程",
            payload: "找課程"
        },
        {
            text: "找補助",
            payload: "找補助"
        },
        {
            text: "Q&A",
            payload: "Q&A"
        }
    ];
    var chatbox = $(".chatbox");
    var chatbot = $(".chatbot");
    var chatbotHeader = $(".chatbot header h2");
    var chatbotIcon = $(".chatbot header span");
    var chatbotName = "智能就業服務系統";
    var chatbotIconText = "smart_toy";
    var chatbotMessage = "你好! 請問需要什麼協助?";
    var chatbotMessageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p>' + chatbotMessage + '</p></li>';
    chatbox.append(chatbotMessageTemplate);
    chatbotHeader.text(chatbotName);
    chatbotIcon.text(chatbotIconText);
    buttons.forEach(function(button) {
        var buttonTemplate = '<button class="chat-button" data-payload="' + button.payload + '" id="' + button.payload + '">' + button.text + '</button>';
        chatbox.append(buttonTemplate);
    });
    
    // If button with id "找補助" is clicked, continue creates buttons based on choices_age, and remove previous buttons and messages
    $("#找補助").click(function() {
        // chatbotMessage replaces with "請問您的年齡屬於哪個範圍?"
        var message = "請問您的年齡屬於哪個範圍?";
        var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p>' + message + '</p></li>';
        chatbox.find(".chat-button").remove();
        chatbox.find(".chat").remove();
        chatbox.append(messageTemplate);

        var choices_age = [
            {
                text: "16歲以下",
                payload: "16歲以下"
            },
            {
                text: "16歲至18歲",
                payload: "16歲至18歲"
            },
            {
                text: "18歲至29歲",
                payload: "18歲至29歲"
            },
            {
                text: "30歲至44歲",
                payload: "30歲至44歲"
            },
            {
                text: "45歲至65歲",
                payload: "45歲至65歲"
            },
            {
                text: "65歲以上",
                payload: "65歲以上"
            }
        ];
        chatbox.find(".chat-button").remove();
        choices_age.forEach(function(choice) {
            var choiceTemplate = '<button class="chat-button-mini age" data-payload="' + choice.payload + '">' + choice.text + '</button>';
            chatbox.append(choiceTemplate);
        });
    });

    // Either one of the buttons with class "chat-button-mini age" is clicked,
    // assign the text of the button to variable user_age_range,
    // and remove previous buttons,
    // and create new "chat-button-mini current" buttons based on choices_current_dict
    $(".chatbox").on("click", ".chat-button-mini.age", function() {       
        user_age_range = $(this).text();
        chatbox.find(".chat-button-mini").remove();

        var message = "請問您目前的就業狀態?";
        var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p>' + message + '</p></li>';
        chatbox.find(".chat-button").remove();
        chatbox.find(".chat").remove();
        chatbox.append(messageTemplate);

        var choices_current_dict = {
            'unemployed': '失業尋職中',
            'training': '參訓無工作',
            'freelancer': '自由工作者',
            'employed': '在職中',
            'retired': '已退休待業中',
            'student': '學生',
        };
        Object.keys(choices_current_dict).forEach(function(key) {
            var choiceTemplate = '<button class="chat-button-mini current" data-payload="' + key + '" id="' + key + '">' + choices_current_dict[key] + '</button>';
            chatbox.append(choiceTemplate);
        });
    
        // Either one of the buttons with class "chat-button-mini current" is clicked,
        // assign the text of the button to a variable user_current_status,
        // and remove previous buttons,
        // and create new "chat-button-mini identity" buttons based on choices_identity_dict
        choices_identity_dict = {
            'None': '無',
            'Laidoff': '非自願離職',
            'Lowincome': '中低收入戶',
            'Disability': '身心障礙',
            'Onlyincome': '獨立負擔家計',
            'Aboriginal': '原住民',
            'Longterm': '長期失業',
            'rehabilitation': '更生人',
            'Abused': '家暴被害人',
            'Rejoinwomen': '二度就業婦女',
            'Disaster': '受災失業者',
            'Sexuallyabused': '性侵害被害人',
            'Newimmigrant': '新住民',
        };
        $(".chatbox").on("click", ".chat-button-mini.current", function() {
            user_current_status = $(this).text();
            chatbox.find(".chat-button-mini").remove();

            var message = "請問您的身分別?";
            var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p>' + message + '</p></li>';
            chatbox.find(".chat-button").remove();
            chatbox.find(".chat").remove();
            chatbox.append(messageTemplate);

            Object.keys(choices_identity_dict).forEach(function(key) {
                var choiceTemplate = '<button class="chat-button-mini identity" data-payload="' + key + '" id="' + key + '">' + choices_identity_dict[key] + '</button>';
                chatbox.append(choiceTemplate);
            });
        });

        // Either one of the buttons with class "chat-button-mini identity" is clicked,
        // assign the text of the button to a variable user_identity,
        // and remove previous buttons,
        // output a message with user_age_range, user_current_status, and user_identity
        $(".chatbox").on("click", ".chat-button-mini.identity", function() {
            user_identity = $(this).text();
            chatbox.find(".chat-button-mini").remove();
            var message = "您的年齡屬於" + user_age_range + "，目前狀態為" + user_current_status + "，身分別為" + user_identity + "。";
            var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p id="user_info">' + message + '</p></li>';
            chatbox.append(messageTemplate);
            // Pause for 1 second
            setTimeout(function() {
                // Output an incoming message "分析中..."
                var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p id="analyzing">分析中...</p></li>';
                chatbox.append(messageTemplate);
            }, 1000);

            // Pause for 3 seconds and output an incoming message "找到了以下補助方案"
            var message = "找到了以下補助方案";
            setTimeout(function() {
                var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p id="final_message">' + message + '</p></li>';
                chatbox.append(messageTemplate);
            }, 3000);

            var final_message1 = "1. 臨時工作津貼	為協助就業能力薄弱之特定對象或失業者，運用臨時工作津貼，於推介一般性就業機會前提供臨時工作機會，以協助渠等培養工作技能或暫緩解經濟困境，並持續推介一般性就業機會，以早日進入或重返勞動市場。\n"
            final_message1 += "2. 天災臨時工作津貼	為提供天然災害造成之災後重建所需人力及受災失業者儘速就業，運用臨時工作津貼，以增加就業機會。\n"
            final_message1 += "3. 僱用獎助(含失業中高齡者及高齡者僱用獎助)	為鼓勵雇主優先僱用弱勢失業勞工，雇主僱用經公立就業服務機構就業諮詢評估需運用僱用獎助措施之弱勢就業者，將依規定給與雇主僱用獎助，以期協助弱勢失業勞工返回勞動市場。\n"
            final_message1 += "4. 失業給付	為保障勞工於失業一定期間之基本生活\n"
            final_message1 += "5. 失業者職業訓練	為協助國內失業者能接受適性與適訓之職業訓練，取得就業技能與充分就業，本分署委託適格之訓練單位提供年滿15歲以上失業者適合參加之失業者職前訓練課程，使失業者習得就業技能，以充分就業。\n"
            final_message1 += "6. 缺工就業獎勵	鼓勵失業勞工受僱特定行業(即3K產業)從事工作，紓緩特定行業缺工情形。\n"
            final_message1 += "7. 照顧服務就業獎勵	為協助失業勞工就業及充實照顧服務人力，鼓勵失業勞工投入居家式、社區式及照顧機構等長照單位從事照顧服務工作。\n"
            final_message1 += "8. 婦女再就業計畫	為促進婦女再就業，配合國內疫後缺工各項措施，運用自主訓練獎勵、再就業獎勵及雇主工時調整獎勵等措施，提升勞動力參與率，並紓緩國內缺工情形，補充人力供給。\n"
            final_message1 += "9. 婦女再就業計畫	為促進婦女再就業，配合國內疫後缺工各項措施，運用自主訓練獎勵、再就業獎勵及雇主工時調整獎勵等措施，提升勞動力參與率，並紓緩國內缺工情形，補充人力供給。\n"
            final_message1 += "10. 為因應產業發展並提高在職勞 工職場穩定度，充分運用各分署訓練設施與師資，利用假日或夜間 時段辦理在職人員之進修訓練，以提升生產力及服務品質。\n"
            final_message1 += "建議你先評估自己的興趣和技能，然後選擇最適合你的就促工具和資源。祝你順利找到適合的職業發展方向！";
            setTimeout(function() {
                var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p id="final_message">' + final_message1 + '</p></li>';
                chatbox.append(messageTemplate);
                // Scroll to the bottom of the chatbox
                chatbox.scrollTop(chatbox[0].scrollHeight);
            }, 5000);

            // Append a message "您的email為 example@tibame.com?"
            message_email = "您的email為 example@tibame.com?";
            setTimeout(function() {
                var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p id="final_message">' + message_email + '</p></li>';
                chatbox.append(messageTemplate);

                var send_or_not = ['寄送結果', '放棄']
                send_or_not.forEach(function(choice) {
                    var choiceTemplate = '<button class="chat-button-mini email" data-payload="' + choice + '">' + choice + '</button>';
                    chatbox.append(choiceTemplate);
                });
                chatbox.scrollTop(chatbox[0].scrollHeight);
            }, 7000);

            // If button with class "chat-button-mini email" is clicked, output a message "已寄出" or "已放棄"
            $(".chatbox").on("click", ".chat-button-mini.email", function() {
                // Remove previous buttons
                chatbox.find(".chat-button-mini").remove();
                var message = "已" + $(this).text();
                var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p id="final_message">' + message + '</p></li>';
                chatbox.append(messageTemplate);
                chatbox.scrollTop(chatbox[0].scrollHeight);

            });      
    });
    });
    
    
});
</script>
{% endblock %}

{% block title %}<title>智能就業服務系統</title>{% endblock %}

{% block content %}


    <div class="chatbot">
        <header>
            <h2>智能就業服務系統</h2>
        </header>                
        <ul class="chatbox">
            <li class="chat incoming">
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="請輸入訊息..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined" >send</span>
        </div>
    </div>
{% endblock %}