{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {
        // User information
        var user_age_range = "";
        var user_identity = "";
        var user_current_status = "";

        // Create three buttons above chat incoming
        var buttons = [
            {
                text: "找課程",
                payload: "找課程"
            },
            {
                text: "找補助",
                payload: "找補助"
            },
            {
                text: "Q&A",
                payload: "Q&A"
            }
        ];
        var chatbox = $(".chatbox");
        var chatbot = $(".chatbot");
        var chatbotHeader = $(".chatbot header h2");
        var chatbotIcon = $(".chatbot header span");
        var chatbotName = "智能就業服務系統";
        var chatbotIconText = "smart_toy";
        var chatbotMessage = "你好! 請問需要什麼協助?";
        var chatbotMessageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p>' + chatbotMessage + '</p></li>';
        chatbox.append(chatbotMessageTemplate);
        chatbotHeader.text(chatbotName);
        chatbotIcon.text(chatbotIconText);
        buttons.forEach(function(button) {
            var buttonTemplate = '<button class="chat-button" data-payload="' + button.payload + '" id="' + button.payload + '">' + button.text + '</button>';
            chatbox.append(buttonTemplate);
        });
        
        // If button with id "找補助" is clicked, continue creates buttons based on choices_age, and remove previous buttons and messages
        $("#找補助").click(function() {
            var choices_age = [
                {
                    text: "16歲以下",
                    payload: "16歲以下"
                },
                {
                    text: "16歲至18歲",
                    payload: "16歲至18歲"
                },
                {
                    text: "18歲至29歲",
                    payload: "18歲至29歲"
                },
                {
                    text: "30歲至44歲",
                    payload: "30歲至44歲"
                },
                {
                    text: "45歲至65歲",
                    payload: "45歲至65歲"
                },
                {
                    text: "65歲以上",
                    payload: "65歲以上"
                }
            ];
            chatbox.find(".chat-button").remove();
            choices_age.forEach(function(choice) {
                var choiceTemplate = '<button class="chat-button-mini age" data-payload="' + choice.payload + '">' + choice.text + '</button>';
                chatbox.append(choiceTemplate);
            });
        });

        // Either one of the buttons with class "chat-button-mini age" is clicked,
        // assign the text of the button to variable user_age_range,
        // and remove previous buttons,
        // and create new "chat-button-mini current" buttons based on choices_current_dict
        $(".chatbox").on("click", ".chat-button-mini.age", function() {
            user_age_range = $(this).text();
            chatbox.find(".chat-button-mini").remove();
            var choices_current_dict = {
                'unemployed': '失業尋職中',
                'training': '參訓無工作',
                'freelancer': '自由工作者',
                'employed': '在職中',
                'retired': '已退休待業中',
                'student': '學生',
            };
            Object.keys(choices_current_dict).forEach(function(key) {
                var choiceTemplate = '<button class="chat-button-mini current" data-payload="' + key + '" id="' + key + '">' + choices_current_dict[key] + '</button>';
                chatbox.append(choiceTemplate);
            });
        
            // Either one of the buttons with class "chat-button-mini current" is clicked,
            // assign the text of the button to a variable user_current_status,
            // and remove previous buttons,
            // and create new "chat-button-mini identity" buttons based on choices_identity_dict
            choices_identity_dict = {
                'Laidoff': '非自願離職',
                'Lowincome': '中低收入戶',
                'Disability': '身心障礙',
                'Onlyincome': '獨立負擔家計',
                'Aboriginal': '原住民',
                'Longterm': '長期失業',
                'rehabilitation': '更生人',
                'Abused': '家暴被害人',
                'Rejoinwomen': '二度就業婦女',
                'Disaster': '受災失業者',
                'Sexuallyabused': '性侵害被害人',
                'Newimmigrant': '新住民',
            };
            $(".chatbox").on("click", ".chat-button-mini.current", function() {
                user_current_status = $(this).text();
                chatbox.find(".chat-button-mini").remove();
                Object.keys(choices_identity_dict).forEach(function(key) {
                    var choiceTemplate = '<button class="chat-button-mini identity" data-payload="' + key + '" id="' + key + '">' + choices_identity_dict[key] + '</button>';
                    chatbox.append(choiceTemplate);
                });
            });

            // Either one of the buttons with class "chat-button-mini identity" is clicked,
            // assign the text of the button to a variable user_identity,
            // and remove previous buttons,
            // output a message with user_age_range, user_current_status, and user_identity
            $(".chatbox").on("click", ".chat-button-mini.identity", function() {
                user_identity = $(this).text();
                chatbox.find(".chat-button-mini").remove();
                var message = "您的年齡屬於" + user_age_range + "，目前狀態為" + user_current_status + "，身份為" + user_identity + "。";
                var messageTemplate = '<li class="chat incoming"><span class="material-symbols-outlined">' + chatbotIconText + '</span><p>' + message + '</p></li>';
                chatbox.append(messageTemplate);
            });

        });

        
       
    });
</script>
{% endblock %}

{% block title %}<title>智能就業服務系統</title>{% endblock %}

{% block content %}


    <div class="chatbot">
        <header>
            <h2>智能就業服務系統</h2>
        </header>                
        <ul class="chatbox">
            <li class="chat incoming">
            </li>
        </ul>
        <div class="chat-input">
            <textarea placeholder="請輸入訊息..." required></textarea>
            <span id="send-btn" class="material-symbols-outlined" >send</span>
        </div>
    </div>
{% endblock %}