{% extends "base.html" %}

{% block javascript %}
<script>
// Wait for the DOM to be ready
document.addEventListener("DOMContentLoaded", function(event) {

    var choices_current = {{ choices_current|safe }}
    var str = ''

    choices_current.forEach(function(slide) {
    str += '<li>' + `<input type="checkbox" name="current_status" value="${slide}"></input>` + '<label>' + slide + '</label>' +'</li>';
    }); 

    document.getElementById("slideContainer").innerHTML = str;
    
    });
</script>
{% endblock %}

{% block title %}<title>Employee form</title>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form">
                <h1>勞工登錄</h1>
                <form method="post" action="." class="form-inline">
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">                    
                            <ul class="employee-form">
                                <li>
                                    <input type="radio" name="gender" value="Male"/>
                                    <label for="Male">Male</label>
                                </li>
                                <li>
                                    <input type="radio" name="gender" value="Female"/>
                                    <label for="Female">Female</label>
                                </li>
                            </ul>
                        </div>
                        <div class="row">
                            <ul class="employee-form" id="slideContainer">
                            </ul>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <form method="post" action="." class="form-inline">
                    {% csrf_token %}
                        {# {% crispy form_employee form_employee.helper %} #}
                    {# <button type="submit" class="btn btn-primary">Submit</button> #}
                </form>
            </div>
        </div>
    </div>

{% endblock %}