{% extends "base.html" %}

{% block javascript %}
<script>
// Wait for the DOM to be ready
document.addEventListener("DOMContentLoaded", function(event) {

    var choices_current = {{ choices_current|safe }}
    var str = ''

    choices_current.forEach(function(slide) {
    str += '<li>' + `<input type="checkbox" name="current_status" value="${slide}"></input>` + '<label>' + slide + '</label>' +'</li>';
    }); 

    document.getElementById("slideContainer").innerHTML = str;
    
    });
</script>
{% endblock %}

{% block title %}<title>Employee form</title>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form">
                <h4><a href="/demo" class="material-symbols-outlined">smart_toy</a>
                尋找適合您的補助計畫，請先填寫以下資料</h4>
                <span>有「 * 」的項目務必選取</span>
                <form method="post" action="." class="form-inline">
                    {% csrf_token %}
                        {% crispy form_employee form_employee.helper %}
                    <button type="submit" class="btn btn-primary">送出</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}