{% extends "base.html" %}

{% block title %}<title>Employer form</title>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form">
                <h1>雇主登錄</h1>
                <form method="post" action="." class="form-inline">
                    {% csrf_token %}
                        {% crispy form_employer form_employer.helper %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}