{% extends "base.html" %}

{% block title %}<title>Employee form</title>{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="form">
                <h1>勞工登錄</h1>
                <form method="post" action="." class="form-inline">
                    {% csrf_token %}
                    <ul class="employee-form">
                        <li>
                            <input type="radio" id="Male" name="gender" />
                            <label for="Male">Male</label>
                        </li>
                        <li>
                            <input type="radio" id="Female" name="gender" />
                            <label for="Female">Female</label>
                        </li>
                    </ul>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <form method="post" action="." class="form-inline">
                    {% csrf_token %}
                        {# {% crispy form_employee form_employee.helper %} #}
                    {# <button type="submit" class="btn btn-primary">Submit</button> #}
                </form>
            </div>
        </div>
        <div class="col-5">
            <div class="header">
                <img src="/static/images/consultant-robot.png" alt="robot-logo"/>
            <h3 id="helper-header">智能小幫手</h3>
            </div>
            <div class="loader"></div>
            <textarea id="openai-text" style="width: 100%; height: 200px; border:none; border-radius: 10px" readonly></textarea>
            <div>
                <button type="button" class="btn btn-secondary">就業服務法24-1條</button>
                <button type="button" class="btn btn-secondary">非自願離職</button>
            </div>
        </div>
    </div>

{% endblock %}