{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}

{% block title %}<title>Home</title>{% endblock %}

{% load static %}
{% block content %}
<div class="container" id="grid_home">
    <div class="row">
        <div class="col" id="enhance">
            <a class="row" href="/interview/">
                <div class="row">
                    <img src="/static/images/interviewerGIF.webp" alt="interview-scene">
                </div>
                <div class="row">
                    <span>Mock interview</span>
                    <p>Practice your interview skills with a mock interview.</p>
                </div>
            </a>
            <a class="row" href="/interview/analysis">
                <div class="row">
                    <img src="/static/images/video-analysis.gif" alt="interview-scene">
                </div>
                <div class="row">
                    <span>Analyze yourself</span>
                    <p>Upload your interview video and get feedback on your performance.</p>
                </div>
            </a>
        </div>
        <div class="col">
            <div class="row">
                <h1>Welcome to Interviewr</h1>
            </div>
            <div class="row">
                <h1>Welcome to Interviewr</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}