{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}

{% block title %}<title>首頁</title>{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col" id="home-button">
        {% load static %}
        {# draw me two anchors with images inside #}
            <a href="/demo"><img class="home-button" src="static/images/labor.png" alt="image here" /></a>
        </div>
        <div class="col" id="home-button">
            <a href="/demo"><img class="home-button" src="static/images/employer.png" alt="image here" /></a>
        </div>
    </div>
    {# draw me two anchors with big buttons-like #}
    <div class="row">
        <div class="col" id="home-button">
            <a href="/demo" class="btn btn-primary btn-lg">我是勞工</a>
        </div>
        <div class="col" id="home-button">
            <a href="/demo" class="btn btn-primary btn-lg">我是雇主</a>
        </div>
    </div>
</div>
{% comment %}
{# Create buttons for MediaRecorder API #}
<div class="container">
    <div class="row">
        <div class="col">
            <button id="start" class="btn btn-primary">Start Recording</button>
            <button id="stop" class="btn btn-primary">Stop Recording</button>
            <button id="play" class="btn btn-primary">Play Recording</button>
            <button id="download" class="btn btn-primary">Download Recording</button>
        </div>
    </div>
</div>
{% endcomment %}
{% endblock %}