{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}

{% block title %}<title>Home</title>{% endblock %}

{% load static %}
{% block content %}
<div class="container" id="grid_home">
    <div class="row">
        <div class="col" id="enhance">
            <a class="row" href="/interview/">
                <div class="row bento-home">
                    <img src="/static/images/irasutoya-interviewer.png" alt="interview-scene">
                </div>
                <span>Mock interview</span>
                <p>Practice your interview skills with a mock interview.</p>
            </a>
            <a class="row" href="/interview/analysis">
                <div class="row bento-home">
                    <img src="/static/images/irasutoya-videoing.png" alt="interview-scene">
                </div>
                <span>Analyze yourself</span>
                <p>Upload your interview video and get feedback on your performance.</p>
            </a>
        </div>
        <div class="col" id="enhance">
            <a class="row" href="/chatbot">
                <div class="row bento-home">
                    <img src="/static/images/irasutoya-study.png" alt="interview-scene">
                </div>
                <span>Training Courses</span>
                <p>Find the best training courses to enhance your skills.</p>
            </a>
            <a class="row" href="/chatbot">
                <div class="row bento-home">
                    <img src="/static/images/irasutoya-welfare.png" alt="interview-scene">
                </div>
                <span>My Welfare</span>
                <p>Check your welfare status and apply for it.</p>
            </a>
        </div>
    </div>
</div>
{% endblock %}