{% extends "base.html" %}

{% block javascript %}
<script>
    $(document).ready(function() {
    });
</script>
{% endblock %}

{% block title %}<title>首頁</title>{% endblock %}

{% block content %}

<div class="container">
    <div class="col">
        <div class="row">
            <img alt="picture of Layla" class="rounded-circle" id="assistant-icon" src="/static/images/consultant-robot.png"/>
            <h1>
                ASK LAYLA
            </h1>
            <span>
                Don't search, just ask Layla. Your AI travel planner.
            </span>
        </div>
        <div class="row">
            <div class="search-bar">
                <input placeholder="Ask me anything" type="text"/>
                <button>
                ask
                <i class="fas fa-paper-plane">
                </i>
                </button>
            </div>
        </div>
    </div>
    <div class="options">
        <button>
            <i class="fas fa-globe">
            </i>
            Inspire me where to go
        </button>
        <button>
            <i class="fas fa-map">
            </i>
            Build me an itinerary
        </button>
        <button>
            <i class="fas fa-umbrella-beach">
            </i>
            Find me a stunning beach
        </button>
        <button>
            <i class="fas fa-plane">
            </i>
            Find me flights
        </button>
   </div>
   {% comment %}
   <div class="footer">
        <p>
        Other people are asking:
        </p>
        <span>
        Beach No Bars
        </span>
        <span>
        Bru Airport To Opo Hotel In Brussels
        </span>
        <span>
        Can You Plan Me A Trip To
        </span>
   </div>
    {% endcomment %}
{% endblock %}