{% extends "base.html" %}

{% block javascript %}
<script src="/static/js/voice-record.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
{% endblock %}

{% block css %}

{% endblock %}

{% block title %}<title>Interview practice</title>{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col'>
            <div class='mock-interviewr'>
                <img id="interviewr" src="/static/images/interviewer.jpeg" alt="mock-interviewer">
            </div>
            <div class="row">
                <h4> Interviewer: </h4>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto commodi quibusdam reiciendis, similique necessitatibus adipisci iste, eligendi quis omnis ea veritatis voluptate laborum autem vel et! Qui at dicta iure. </p>
            </div>
        </div>
        <div class='col'>
            <div class='row'>
                <h2>Question</h2>
                <p>In situations where your marketing campaign didn't achieve the expected results, how do you analyze its performance and pivot your approach?</p>
            </div>
            <div class='row'>
                <h4 style="text-align: center;">0:00 / 2:00</h4>
                <div>
                    <button class="mic-toggle" id="mic">
                        <span class="material-icons">mic</span>
                    </button>
                    <audio class="playback" controls></audio>
                </div>
                <div class="row">
                    <h4>Feedback</h4>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ullam incidunt aliquid numquam provident sed a odit dolorum mollitia reprehenderit. Ut quae voluptatem maxime saepe. Minus hic quisquam nemo corrupti provident.</p>
                </div>
                <div class="row">
                    <h4>Sample response</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}