{% extends "base.html" %}

{% load static %}
{% block javascript %}
<script src="{% static 'js/voice-record.js' %}"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<script>
$(document).ready(function() {
    $("#mic-icon").click(function() {
        $(this).toggleClass('active');
    });
});
</script>
{% endblock %}

{% block css %}

{% endblock %}

{% block title %}<title>Interview practice</title>{% endblock %}

{% block content %}
<div class='container'>
    <div class='row'>
        <div class='col'>
            <div class='mock-interviewr'>
                <img id="interviewr" src="/static/images/interviewrGIF.webp" alt="mock-interviewer">
            </div>
            <div class="row">
                <div class="col" style="align-items: center;">
                    <button class="mic-toggle" id="mic">
                        <div class="pulse-ring"></div>
                        <span class="material-icons" id="mic-icon">mic</span>
                    </button>
                    <audio class="playback" controls></audio>
                </div>
            </div>
            <div class="row">
                <h2 style="text-align: center;">Question</h2>
                <p id="interview_question">{{ question }}</p>
            </div>
            <div class='row' id="user-answer" style="visibility: hidden;">
                    
            </div>
        </div>
        <div class='col'>
            <div class='row'>
                <div class="ai-response" id="interview_question_analysis" style="visibility: hidden;">
                    
                </div>
                <div class="ai-response" id="interview_question_evaluation" style="visibility: hidden;">
                
                </div>
                <div class="ai-response" id="interview_question_suggestion" style="visibility: hidden;">
                
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}